@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root{
  --color__fondo:#181818;
  --color__blanco:white;
  --color_textos_grisaseos:#aaa;
  --tamaño_iconos:1.5rem;
  --tamaño_textos:0.9rem;
  --tamaño_texto_youtube:1.5rem;
  --tamaño_texto_detalles:0.8rem;
  --color_border:rgba(255, 255, 255, 0.1);
  --ancho_scroll:5px;
  --alto_scroll:5px;
  --color_scroll:#717171;
  --ancho_sidebar:240px;
  --alto_header:56px;
  --color_fondo_chips:#373737;
  --altura_caja_videos:145px;
  --esquinas_redondeadas_videos:12px;
}


/*LAYOUT*/

body{
  display: grid;
  grid-template-columns: var(--ancho_sidebar) 1fr;
  grid-template-rows: var(--alto_header) 1fr;
  grid-template-areas:
  'header header'
  'sidebar content';
  height: 100vh;
}

a{
  text-decoration: none;
  font-size: var(--tamaño_textos);
  color: var(--color__blanco);
}

h4{
  font-size: var(--tamaño_textos);
  text-transform: uppercase;
  color: var(--color_textos_grisaseos);
  margin-left: 20px;
}

::-webkit-scrollbar{
  width: var(--ancho_scroll);
  height: var(--alto_scroll);
}

::-webkit-scrollbar-thumb{
  background-color: transparent;
  border-radius: 5px;
}

.sidebar::-webkit-scrollbar-thumb{
  background-color: var(--color_scroll);
}

i{
  font-size: var(--tamaño_iconos);
}

p,a{
  font-size: var(--tamaño_textos);
}
hr{
  border: solid 1px var(--color_border);
  margin: 12px 0 12px 0;
}

img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header{
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  background-color:var(--color__fondo);
  width: 100%;
  height: var(--alto_header);
  color: var(--color__blanco);
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  gap: 4px;
}

.buquedaContainer{
  display: flex;
  align-items: center;
  gap: 6px;
  flex: 0 1 638px;
}

.perfilContainer{
  display: flex;
  align-items: center;
  gap: 25px;
}

.perfilContainer a{
  display: flex;
  min-width: 40px;
  height: 40px;
  color: var(--color__blanco);
  border: none;
  font-size: var(--tamaño_iconos);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.5s;
}

.perfilContainer div{
  height: 40px;
  width: 40px;
  align-items: center;
  position: relative;
}

.perfilContainer a:hover{
  background-color:#313131 ;
}

.perfilContainer img{
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.buquedaContainer form{
  position: relative;
  width: 100%;
  display: flex;
}

.buquedaContainer input{
  height: 40px;
  width: 100%;
  background-color: #121212;
  color: var(--color__blanco);
  padding: 12px;
  outline: none;
  border: 1px solid var(--color_border);
  border-radius: 10px 0 0 10px ;
}

.buquedaContainer button{
  min-width: 40px;
  height: 40px;
  background-color: #313131;
  color: var(--color__blanco);
  border: none;
  border-radius: 0 10px 10px 0;
  font-size: var(--tamaño_iconos);
  cursor: pointer;
}

.buquedaContainer form~button{
  /* width: 40px;
  height: 40px; */
  border-radius:50%;
}


.sidebar{
  grid-area: sidebar;
  background-color: var(--color__fondo);
  padding-top: 10px;
  /* padding-left: 10px;
  padding-right: 10px; */
  overflow-y: scroll;
}

.sidebar__items{
  display: flex;
  flex-direction: column;
  padding: 0 14px 0 14px;
}

.sidebar__item{
  /* padding-bottom: 10px; */
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 0 24px;
  transition:0.5s;
}

.sidebar__item i{
  margin-right: 24px;

}

.sidebar__item:hover{
  background-color: #4c4c4c;
}


.content{
  grid-area: content;
}

.logoContainer__logo{
  display: flex;
  gap: 6px;
  /* height: 56px; */
  align-items: center;
  position: relative;

}

.logoContainer__logo img{
  position: relative;
  height: 25px;
  width: 30px;
}

.logoContainer__titulo {
  color: var(--color__blanco);
  letter-spacing: -1px;
  font-size: var(--tamaño_texto_youtube);
}

.logoContainer{
  display: flex;
  align-items: center;
  /* height: 56px; */
  gap: 6px;
}

.content{
  grid-area: content;
  overflow-x: hidden;
}

.chipsWarpper{
  max-width: calc(100vw -var(--ancho_sidebar));
  overflow-x:scroll;
  background-color:var(--color__fondo);
  display: flex;
  padding-left: 14px;
  border-top:solid 1px var(--color_border);
  border-bottom: solid 1px var(--color_border);
}

.chipsWarpper::-webkit-scrollbar{
  height: var(--alto_scroll);
}

.chipsWarpper:hover::-webkit-scrollbar-thumb{
  background-color: var(--color_scroll);
}

.chipsWarpper__chip{
  margin: 12px 6px;
  background-color: var(--color_fondo_chips) ;
  padding: 6px 12px;
  color: var(--color__blanco);
  cursor: pointer;
  border-radius: 16px;
  white-space: nowrap;
  transition: 0.5s;
}

.chipsWarpper__chip:hover{
  background-color: #d4d4d4;
}

.videosContainer{
  display: grid;
  /* grid-template-columns: repeat(4,1fr); */
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  /* grid-template-rows: repeat(auto-fill,minmax(200px,5fr)); */
  grid-template-rows: max-content;
  gap: 18px;
  padding: 20px;
  background-color: var(--color__fondo);
  overflow-y: scroll;
  height: calc(100vh - 118px);
}

.videosContainer__cover{
  position: relative;
  transition: 0.5s;
}

.videosContainer__contenido{
  margin-bottom: 25px;
  position: relative;
  width: 100%;
  padding: 8px;
  border-radius: var(--esquinas_redondeadas_videos);
  transition: 1s;
}

.videosContainer__contenido:hover{
  background-color: #373737;
}

.videosContainer__caja{
  position: relative;
  width: auto;
  height: var(--altura_caja_videos);
  display: block;
}

.videosContainer__caja img{
  object-fit: cover;
  border-radius: var(--esquinas_redondeadas_videos);
}

.videoDetalles{
  display: flex;
  color: var(--color__blanco);
  padding-top: 12px
}

.videoDetalles__logoCanal{
  position: relative;
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.videoDetalles__detalle{
  margin-left: 12px;
}

.videoDetalles__titulo{
  font-size: var(--tamaño_textos);
}

.videoDetalles__nombreCanal{
  font-size: var(--tamaño_texto_detalles);
  margin-top: 10px;
  color: var(--color_textos_grisaseos);
}

.VideoDetalles__vistasSubido{
  display: flex;
  font-size: var(--tamaño_texto_detalles);
  margin-top: 4px;
  color: var(--color_textos_grisaseos);
}

.videoDetalles__subido{
  margin-left: 5px;
}

@media(max-width:1200px){
  body{
    grid-template-columns: 70px 1fr;
  }
  .sidebar__items span, .sidebar__items h4{
    display: none;
  }
  .sidebar__items{
    padding: 0;
  }
  .sidebar__item{
    padding: 0 20px;
  }

  .chipsWarpper{
    max-width: calc(100vw - 70px);
    /* max-width: 100%; */
  }

}

@media(max-width:800px){
  .buquedaContainer{
    display: none;
  }
}